/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===== Theme =====*/
:root{
    --hero-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero-3.gif");
    --dkgray: #393d43;
    --miku: #1acad1;
    --magenta: #c3376f;
    --light: #dddfde;
    --box-shadow: 2px 4px 6px var(--magenta);
}

/*===== Universal Styles =====*/
html{ /*Background pattern*/
	background-color: #a9b2bf;
	background-size: 26px 26px;
	background-image:  repeating-linear-gradient(to right, #737d87, #737d87 1.3px, #a9b2bf 1.3px, #a9b2bf);
}
body{
	background-color: var(--dkgray);
	width: 85%;
	margin: 0 auto;
}

/*===== Text Styles =====*/
h1{
	font-family: 'Proza Libre', serif;
	font-weight: 600;
	font-size: 2.25em;
	position: relative;
    top: 50px;
    padding: 50px 25px 15px;
	text-align: center;
	color: var(--miku);
}
h2, h3{
	font-family: 'Trirong', serif;
	font-style: oblique;
	color: var(--light);
	padding: 30px;
	font-weight: 500;
}
h2{
	text-align: center;
	font-size: 1.75em;
}
h3{
	font-size: 1.25em;
}
p, li ,a, label, small{
	font-family: 'Noto Sans', sans-serif;
	color: var(--light);
	padding: 10px;
}
p, a, label{
	font-size: 20px;
	line-height: 25px;
}
a{
	text-decoration: none;
	padding: 10px;
}
span{
	font-family: 'Noto Sans', sans-serif;
	color: var(--miku);
	font-size: 16px;
	padding: 10px;
}
label{
	color: var(--dkgray);
}
.skip-link{
	position: absolute;
	left: -9999px;
	top: 0;
}

/*===== Hero Image =====*/
#hero-image{
	background-image: var(--hero-image);
	background-size: 75%;
    background-position: top;
}
header{
	padding: 6em;
}
/*===== Nav Styles =====*/
ul{
	position: relative;
	bottom: 85px;
    right: 90px;
	display: flex; 
	gap: 10px;
	list-style-type: none;
}
nav a{
	background-color: rgba(221, 223, 222, .5);
	color: var(--dkgray);
	padding: 4px;
	border-radius: 10px;
}
nav a:hover{
	background-color: rgba(26, 202, 209, .5);
	color: var(--light);
}

/*===== Songs =====*/
#songs{
	background-color: var(--light);
	padding: 1.5em 2.5em;
}
#songs h2, #songs h3, #songs p{
	color: var(--dkgray);
}
.cycle-slideshow{
	padding: 1em;
	margin: 0 auto;
}
#slideshow-buttons{
	display: flex;
	justify-content: center;
}
button{
	padding: 15px 20px;
	font-size: 25px;
	margin: 20px;
	color: var(--miku);
	background-color: var(--light);
	border: 2px var(--miku) solid;
	box-shadow: var(--box-shadow);
	border-radius: 4px;
}
#next-btn{
	width: 140px;
}
/*===== Softwares =====*/
#software{
	padding: 1.5em 2.5em;
}
/*===== Newsletter =====*/
#newsletter{
	background-color: var(--light);
	padding: 1.5em 2.5em;
}
#newsletter h2, label{
	color: var(--dkgray);
}
form{
	display: flex;
	flex-direction: column;
	width: 75%;
	padding: 10px;
	margin: 0 auto;
}
input{
	line-height: 40px;
	margin: 10px;
	border-radius: 8px;
	border: 2px var(--miku) solid;
}
select{
	height: 50px;
	margin: 10px;
	border-radius: 8px;
	border: 2px var(--miku) solid;
}
input[type= "submit"]{
	width: 60%;
	height: 75px;
    font-size: 25px;
    margin: 55px auto;
	border-radius: 8px;
	background-color: var(--dkgray);
	color: var(--miku);
	border: 2px var(--miku) solid;
	box-shadow: var(--box-shadow);
}
.errorInput{
	border: 2px var(--magenta) solid;
}
.error{
	display: block;
}
.message{
	color: var(--miku);
}
#displayUser{
	color: var(--dkgray);
    font-size: 2em;
    padding: 1.25em;
    text-align: center;
}
/*===== FAQ =====*/
#faq{
	padding: 1.5em 2.5em;
}
#accordion p{
	color: var(--dkgray);
}
#accordion a{
	color: var(--magenta);
}
/*===== Footer =====*/
footer{
	background-color: var(--light);
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 1.5rem;
}
small{
	color: var(--dkgray);
}